.header__info{
    margin-top: 50px;
    margin-bottom: 80px;
}

h1{
    font-weight: 700;
    color: white;
    font-size: 79px;
}

.text{
    font-weight: 700;
    font-size: 32px;
    color: white;
    margin-left: 10px;
}