.header{
    background-image: url("https://cdn1.epicgames.com/offer/cbd5b3d310a54b12bf3fe8c41994174f/EGS_VALORANT_RiotGames_S1_2560x1440-5eff1895cb16cfb2bbbaaef1f6e90223");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}